<footer class="site-footer outer">
    <div class="site-footer-content inner">
        <section class="copyright">
            <p>
                {{ site.data.languages[page.lang]["footer"]["email"] }}
                <a href="mailto:info@ofoghmehr.ir">info@ofoghmehr.ir</a>
            </p>
            <nav class="site-footer-nav">
                {% if site.instagram %}
                <a class="social-link social-link-in" href="https://instagram.com/{{ site.instagram }}" target="_blank"
                    rel="noopener">{% include svg/instagram.html %}</a>
                {% endif %} {% if site.telegram %}
                <a class="social-link social-link-tg" href="https://telegram.me/{{ site.telegram }}" target="_blank"
                    rel="noopener">{% include svg/telegram.html %}</a>
                {% endif %} {% if site.facebook %}
                <a class="social-link social-link-fb" href="https://facebook.com/{{ site.facebook }}" target="_blank"
                    rel="noopener">{% include svg/facebook.html %}</a>
                {% endif %} {% if site.twitter %}
                <a class="social-link social-link-tw" href="https://twitter.com/{{ site.twitter }}" target="_blank"
                    rel="noopener">{% include svg/twitter.html %}</a>
                {% endif %} {% if site.linkedin %}
                <a class="social-link social-link-li" href="https://www.linkedin.com/in/{{ site.linkedin }}"
                    target="_blank" rel="noopener">{% include svg/linkedin.html %}</a>
                {% endif %}
            </nav>
            <p style="font-size: 10px; margin-top:30px; opacity: 0.3;">
                {{ site.data.languages[page.lang]["footer"]["developedBy"] }}
                <br />
                {{ site.data.languages[page.lang]["footer"]["copyright"] }}
            </p>
        </section>
    </div>
</footer>