<div>
    <h2 class="index-title">
        {{ site.data.languages[page.lang]["index"]["news"] }}
    </h2>

    <div class="index-feed">
        {%- include index/news-slider.html -%}
        {%- include index/podcast-card.html -%}
    </div>
</div>


{%- include index/link-cards.html -%}

<!-- <div style="background-color: khaki; text-align: center">
    <p> تاریخ ماک بعدی آیلتس : ۲۲ بهمن</p>
</div>  -->
<div>
    <h2 class="index-title">
        {{ site.data.languages[page.lang]["index"]["writings"] }}
    </h2>
    <div class="index-feed">
        {%- include index/article-cards.html -%}
    </div>
</div>
{%- comment -%}
    <div>
      <h2 class="index-title">دوره‌های ویژه</h2>
      <div class="index-feed">
        {%- include index/offcanvas-cards.html -%}
      </div>
    </div> 
    {%- endcomment -%
{%- endcomment -%}}