<link href="/assets/css/emoji.css" rel="stylesheet" type="text/css"/>

<div>
    <h2 class="index-title">{{ site.data.languages[page.lang]["index"]["courses"] }}</h2>
    <div class="index-feed">
        <article class="indx-card" id="courses-ielts">

            <a class="post-card-image-link" href="/IELTS">
                <div class="post-card-image" style="background-image: url(/assets/images/posts/IELTS.jpg); background-size: 100% 100%;"></div>
            </a>

            <div class="post-card-content">
                <div class="post-card-content-link">
                    <header class="post-card-header">
                        <h2 class="post-card-title">{{ site.data.languages[page.lang]["courses"]["ielts"]["title"] }}</h2>
                    </header>
                    <section class="post-card-excerpt">
                        <p>
                            <a href="/IELTS">{{ site.data.languages[page.lang]["courses"]["ielts"]["info"] }}</a>
                        </p>
                        <p>
                            <a href="/register">{{ site.data.languages[page.lang]["courses"]["ielts"]["register"] }}</a>
                        </p>
                    </section>
                </div>
            </div>
        </article>
        <article class="indx-card no-image" id="courses-exams">
            <a class="post-card-image-link" href="{{ post.url }}">
                <div class="post-card-image" style="background-image: url(/assets/images/posts/test.jpg)"></div>
            </a>
            <div class="post-card-content">
                <div class="post-card-content-link">
                    <header class="post-card-header">
                        <h2 class="post-card-title">{{ site.data.languages[page.lang]["courses"]["intl-exams"]["title"] }}</h2>
                    </header>
                    <section class="post-card-excerpt">
                        <p>
                            <a href="/courses/کلاس-های-آمادگی-برای-آزمون-های-ielts-pte-toefl">{{ site.data.languages[page.lang]["courses"]["intl-exams"]["PTE"] }}</a>
                        </p>
                        <p>
                            <a href="/courses/ept-msrt">{{ site.data.languages[page.lang]["courses"]["intl-exams"]["EPT-MSRT"] }}</a>
                        </p>
                        <p>
                            <a href="/courses/">{{ site.data.languages[page.lang]["courses"]["intl-exams"]["TOEFL"] }}</a>
                        </p>
                    </section>
                </div>
            </div>
        </article>

        <article class="indx-card no-image" id="courses-BEC">

            <a class="post-card-image-link" href="/courses/Business-English">
                <div class="post-card-image" style="background-image: url(/assets/images/posts/BEC.jpg)"></div>
            </a>

            <div class="post-card-content">
                <div class="post-card-content-link">
                    <header class="post-card-header">
                        <h2 class="post-card-title">{{ site.data.languages[page.lang]["courses"]["commerce"]["title"] }}</h2>
                    </header>
                    <section class="post-card-excerpt">
                        <p>
                            <a href="/courses/Business-English">{{ site.data.languages[page.lang]["courses"]["commerce"]["desc"] }}</a>
                        </p>
                    </section>
                </div>
            </div>
        </article>
        <article class="indx-card no-image" id="courses-foreign">
            <div class="post-card-content">
                <div class="post-card-content-link">
                    <header class="post-card-header">
                        <h2 class="post-card-title">{{ site.data.languages[page.lang]["courses"]["foreign"]["title"] }}</h2>
                    </header>
                    <section class="post-card-excerpt">

                        <p>
                            <a href="/courses/ربان-های-غیرانگلیسی">
                                <i class="em em-flag-england"></i>
                                {{ site.data.languages[page.lang]["courses"]["foreign"]["english"] }}</a>
                        </p>
                        <p>
                            <a href="/courses/ربان-های-غیرانگلیسی">
                                <i class="em em-fr"></i>
                                {{ site.data.languages[page.lang]["courses"]["foreign"]["french"] }}</a>
                        </p>
                        <p>
                            <a href="/courses/ربان-های-غیرانگلیسی">
                                <i class="em em-de"></i>
                                {{ site.data.languages[page.lang]["courses"]["foreign"]["german"] }}</a>
                        </p>
                        <p>
                            <a href="/courses/ربان-های-غیرانگلیسی">
                                <i class="em em-flag-tr"></i>
                                {{ site.data.languages[page.lang]["courses"]["foreign"]["turkish"] }}</a>
                        </p>
                        <!-- 						<p>
							<a href="/courses/ربان-های-غیرانگلیسی">
								<i class="em em-it"></i>
								{{ site.data.languages[page.lang]["courses"]["foreign"]["italian"] }}</a>
						</p>
						<p>
							<a href="/courses/ربان-های-غیرانگلیسی">
								<i class="em em-es"></i>
								{{ site.data.languages[page.lang]["courses"]["foreign"]["spanish"] }}</a>
						</p>
						<p>
							<a href="/courses/ربان-های-غیرانگلیسی">
								<i class="em em-jp"></i>
								{{ site.data.languages[page.lang]["courses"]["foreign"]["japanese"] }}</a>
						</p>-->

                    </section>
                </div>
            </div>
        </article>
        {%- comment -%} 		<article class="indx-card">

			<a class="post-card-image-link" href="{{ post.url }}">
				<div class="post-card-image" style="background-image: url(/assets/images/posts/mockpic.jpg)"></div>
			</a>

			<div class="post-card-content">
				<div class="post-card-content-link">
					<header class="post-card-header">
						<h2 class="post-card-title">ماک آیلتس</h2>
					</header>
					<section class="post-card-excerpt">
						<p>تاریخ بعدی ماک آیلتس : ۱۸ بهمن</p>
						<a class="placement-test" href="/mock" style="margin-top:20px; background-color: rgb(248, 252, 21)">اطلاعات
							بیشتر
						</a>
					</section>
				</div>
			</div>
		</article>
		<article class="indx-card no-image">
			<a class="post-card-image-link" href="{{ post.url }}">
				<div class="post-card-image" style="background-image: url(/assets/images/posts/placement-test-photo.jpg)"></div>
			</a>
			<div class="post-card-content">
				<div class="post-card-content-link">
					<header class="post-card-header">
						<h2 class="post-card-title">تعیین سطح آنلاین</h2>
					</header>
					<section class="post-card-excerpt">
						<p>برای اطلاع از سطح زبان خود می‌توانید به صفحه تعیین سطح آنلاین بینش‌افزا مراجعه فرمایید.</p>
						<a class="placement-test" href="/placement"
							style="margin-bottom:20px; background-color: rgb(248, 252, 21)">تعیین
							سطح</a>
					</section>
				</div>
			</div>
		</article> {%- endcomment -%}
    </div>
</div>
