<link rel="stylesheet" type="text/css" href="/assets/css/emoji.css" />

<article class="indx-card" id="courses-ielts">

  <a class="post-card-image-link" href="/IELTS">
    <div class="post-card-image"
      style="background-image: url(/assets/images/posts/IELTS.jpg); background-size: 100% 100%;"></div>
  </a>

  <div class="post-card-content">
    <div class="post-card-content-link">
      <header class="post-card-header">
        <h2 class="post-card-title">آیلتس</h2>
      </header>
      <section class="post-card-excerpt">
        <p><a href="/IELTS">اطلاعات می‌خواهم.</a></p>
        <p><a href="/register">ثبت‌نام.</a></p>
        <p><a href="/IELTS/writing-correction">نمره Writing آیلتس من چند است؟</a></p>
      </section>
    </div>
  </div>
</article>
<article class="indx-card no-image" id="courses-exams">
  <a class="post-card-image-link" href="{{ post.url   }}">
    <div class="post-card-image" style="background-image: url(/assets/images/posts/test.jpg)"></div>
  </a>
  <div class="post-card-content">
    <div class="post-card-content-link">
      <header class="post-card-header">
        <h2 class="post-card-title">آزمون‌های بین‌المللی</h2>
      </header>
      <section class="post-card-excerpt">
        <p><a href="/courses/کلاس-های-آمادگی-برای-آزمون-های-ielts-pte-toefl">PTE</a></p>
        <p><a href="/courses/ept-msrt">EPT/MSRT</a></p>
        <p><a href="/courses/">TOEFL</a></p>
      </section>
    </div>
  </div>
</article>

<article class="indx-card no-image" id="courses-BEC">

  <a class="post-card-image-link" href="/courses/Business-English">
    <div class="post-card-image" style="background-image: url(/assets/images/posts/BEC.jpg)"></div>
  </a>

  <div class="post-card-content">
    <div class="post-card-content-link">
      <header class="post-card-header">
        <h2 class="post-card-title">انگلیسی برای کسب‌و‌کار</h2>
      </header>
      <section class="post-card-excerpt">
        <p><a href="/courses/Business-English">دوره‌های آموزشی برای فضای کسب و کار بازرگانی</a></p>
      </section>
    </div>
  </div>
</article>
<article class="indx-card no-image" id="courses-foreign">
  <div class="post-card-content">
    <div class="post-card-content-link">
      <header class="post-card-header">
        <h2 class="post-card-title">زبان‌های خارجی</h2>
      </header>
      <section class="post-card-excerpt">

        <p><a href="/courses/ربان-های-غیرانگلیسی"><i class="em em-flag-england"></i> انگلیسی</a></p>
        <p><a href="/courses/ربان-های-غیرانگلیسی"><i class="em em-fr"></i> فرانسوی</a></p>
        <p><a href="/courses/ربان-های-غیرانگلیسی"><i class="em em-de"></i> آلمانی</a></p>
        <p><a href="/courses/ربان-های-غیرانگلیسی"><i class="em em-flag-tr"></i> ترکی استنابولی</a></p>
        <p><a href="/courses/ربان-های-غیرانگلیسی"><i class="em em-it"></i> ایتالیایی</a></p>
        <p><a href="/courses/ربان-های-غیرانگلیسی"><i class="em em-es"></i> اسپانیایی</a></p>
        <p><a href="/courses/ربان-های-غیرانگلیسی"><i class="em em-jp"></i> ژاپنی</a></p>

      </section>
    </div>
  </div>
</article>
<article class="indx-card">

  <a class="post-card-image-link" href="{{ post.url   }}">
    <div class="post-card-image" style="background-image: url(/assets/images/posts/mockpic.jpg)"></div>
  </a>

  <div class="post-card-content">
    <div class="post-card-content-link">
      <header class="post-card-header">
        <h2 class="post-card-title">ماک آیلتس</h2>
      </header>
      <section class="post-card-excerpt">
        <p>تاریخ بعدی ماک آیلتس : ۱۸ بهمن</p>
        <a href="/mock" class="placement-test" style="margin-top:20px; background-color: rgb(248, 252, 21)">اطلاعات
          بیشتر
        </a>
      </section>
    </div>
  </div>
</article>
<article class="indx-card no-image">
  <a class="post-card-image-link" href="{{ post.url   }}">
    <div class="post-card-image" style="background-image: url(/assets/images/posts/placement-test-photo.jpg)"></div>
  </a>
  <div class="post-card-content">
    <div class="post-card-content-link">
      <header class="post-card-header">
        <h2 class="post-card-title">تعیین سطح آنلاین</h2>
      </header>
      <section class="post-card-excerpt">
        <p>برای اطلاع از سطح زبان خود می‌توانید به صفحه تعیین سطح آنلاین بینش‌افزا مراجعه فرمایید.</p>
        <a href="/placement" class="placement-test"
          style="margin-bottom:20px; background-color: rgb(248, 252, 21)">تعیین
          سطح</a>
      </section>
    </div>
  </div>
</article>