<div>
    <h2 class="index-title">{{ site.data.languages[page.lang]["index"]["courses"] }}</h2>
    <div class="index-feed">
        <article class="indx-card" id="courses-english">
            <a class="post-card-image-link" href="/{{ page.lang }}/courses/English">
                <div class="post-card-image" style="background-image: url(/assets/images/posts/courses-english.jpg); background-size: 100% 100%;"></div>
            </a>

            <div class="post-card-content">
                <div class="post-card-content-link">
                    <header class="post-card-header">
                        <h2 class="post-card-title">{{ site.data.languages[page.lang]["courses"]["english"]["title"] }}</h2>
                    </header>
                    <section class="post-card-excerpt">
                        <p>
                            <a href="/{{ page.lang }}/courses/english">{{ site.data.languages[page.lang]["courses"]["info"] }}</a>
                        </p>
                    </section>
                </div>
            </div>
        </article>
        <article class="indx-card" id="courses-french">
            <a class="post-card-image-link" href="/{{ page.lang }}/courses/french">
                <div class="post-card-image" style="background-image: url(/assets/images/posts/courses-taxi.jpg); background-size: 100% 100%;"></div>
            </a>

            <div class="post-card-content">
                <div class="post-card-content-link">
                    <header class="post-card-header">
                        <h2 class="post-card-title">{{ site.data.languages[page.lang]["courses"]["foreign"]["french"] }}</h2>
                    </header>
                    <section class="post-card-excerpt">
                        <p>
                            <a href="/{{ page.lang }}/courses/french">{{ site.data.languages[page.lang]["courses"]["info"] }}</a>
                        </p>
                    </section>
                </div>
            </div>
				</article>
			</article>
			<article class="indx-card" id="courses-german">
					<a class="post-card-image-link" href="/{{ page.lang }}/courses/german">
							<div class="post-card-image" style="background-image: url(/assets/images/posts/courses-german.jpg); background-size: 100% 100%;"></div>
					</a>

					<div class="post-card-content">
							<div class="post-card-content-link">
									<header class="post-card-header">
											<h2 class="post-card-title">{{ site.data.languages[page.lang]["courses"]["foreign"]["german"] }}</h2>
									</header>
									<section class="post-card-excerpt">
											<p>
													<a href="/{{ page.lang }}/courses/german">{{ site.data.languages[page.lang]["courses"]["info"] }}</a>
											</p>
									</section>
							</div>
					</div>
			</article>
		</article>
		<article class="indx-card" id="courses-turkish">
				<a class="post-card-image-link" href="/{{ page.lang }}/courses/turkish">
						<div class="post-card-image" style="background-image: url(/assets/images/posts/courses-turkish.jpg); background-size: 100% 100%;"></div>
				</a>

				<div class="post-card-content">
						<div class="post-card-content-link">
								<header class="post-card-header">
										<h2 class="post-card-title">{{ site.data.languages[page.lang]["courses"]["foreign"]["turkish"] }}</h2>
								</header>
								<section class="post-card-excerpt">
										<p>
												<a href="/{{ page.lang }}/courses/turkish">{{ site.data.languages[page.lang]["courses"]["info"] }}</a>
										</p>
								</section>
						</div>
				</div>
		</article>
    </div>
</div>
