<!-- Offcanvas Details -->
{% include index/offcanvas.html %}

<article class="indx-card" id="special-schooloflife">
    <div class="post-card-image" style="background-image: url('/assets/images/posts/Banner-SOL.jpeg')"></div>

    <div class="post-card-content">
        <div class="post-card-content-link" href="{{ post.url }}">
            <header class="post-card-header">
                <span class="post-card-tags">دوره‌های ویژه</span>
                <h2 class="post-card-title">The School of Life</h2>
            </header>
            <section class="post-card-excerpt">
                <p>
                    مدرسه زندگی مکانی برای بالا بردن شعور احساسی افراد است.
                    <br />
                    <a class="round-links" href="#offcanvas" onclick="offUpdate(offSolSelf)"
                        style="background-color: rgb(206, 255, 255)">خویشتن</a>
                    <a class="round-links" href="#offcanvas" onclick="offUpdate(offSolRelation)"
                        style="background-color:rgb(210, 252, 221)">رابطه</a>
                    <a class="round-links" href="#offcanvas" onclick="offUpdate(offSolWork)"
                        style="background-color:rgb(248, 227, 230)">کار</a>
                    <a class="round-links" href="#offcanvas" onclick="offUpdate(offSolHistory)"
                        style="background-color:rgb(224, 220, 247)">تاریخ عقاید</a>
                    <a class="round-links" href="#offcanvas" onclick="offUpdate(offSolCulture)"
                        style="background-color:rgb(243, 239, 202)">فرهنگ</a>
                </p>
            </section>
        </div>
    </div>
</article>
<article class="indx-card" id="special-toastmasters">
    <div class="post-card-image-link" href="{{ post.url }}">
        <div class="post-card-image" style="background-image: url('/assets/images/posts/Banner-Toastmaster.jpg')"></div>
    </div>

    <div class="post-card-content">
        <div class="post-card-content-link" href="{{ post.url }}">
            <header class="post-card-header">
                <span class="post-card-tags">دوره‌های ویژه</span>
                <h2 class="post-card-title">Toastmaster</h2>
            </header>
            <section class="post-card-excerpt">
                <p>
                    در این دوره آموزشی یاد می‌گیرید که چگونه در برابر یک جمع سخنرانی
                    کنید و با استفاده از تکنیک‌های متقعاد سازی و ...
                    <br />
                    <a class="round-links" href="#offcanvas" onclick="offUpdate(offToastNarration)"
                        style="background-color:rgb(244, 210, 252)">اطلاع‌رسانی و قصه‌گویی</a>
                    <a class="round-links" href="#offcanvas" onclick="offUpdate(offToastHumor)"
                        style="background-color:rgb(229, 248, 227)">بیان طنزآلود</a>
                    <a class="round-links" href="#offcanvas" onclick="offUpdate(offToastPersuasion)"
                        style="background-color:rgb(247, 220, 234)">متقاعد‌ سازی</a>
                    <a class="round-links" href="#offcanvas" onclick="offUpdate(offToastReport)"
                        style="background-color:rgb(243, 202, 202)">گزارش دهی</a>
                </p>
            </section>
        </div>
    </div>
</article>
<article class="indx-card no-image" id="special-cinema-lyrics">
    <div class="post-card-image" style="background-image: url('/assets/images/posts/Banner-Movie-Lyrics.jpg')"></div>

    <div class="post-card-content">
        <div class="post-card-content-link" href="{{ post.url }}">
            <header class="post-card-header">
                <span class="post-card-tags">دوره‌های ویژه</span>
                <h2 class="post-card-title">Movies and Lyrics</h2>
            </header>
            <section class="post-card-excerpt">
                <p>
                    اکثر افرادی که انگلیسی یا هر زبان دیگری را به خوبی یاد گرفته‌اند،
                    تنها به کتاب‌های آموزش زبان اکتفا نکرده‌اند. آنها به این توصیه که
                    خود را معرض زبان قرار دهید گوش کرده و با تماشای فیلم، سریال،
                    اخبار، و گوش کردن موسیقی، خود را با ابعاد فرهنگی زبان انگلیسی
                    آَشنا کرده‌اند
                    <br />
                    <a class="round-links" href="#offcanvas" onclick="offUpdate(offCinema)"
                        style="background-color: rgb(231, 253, 228)">دوره کارگردان‌های بزرگ
                        <i class="em em-movie_camera"></i>
                    </a>
                    <br />
                    <a class="round-links" href="#offcanvas" onclick="offUpdate(offLyrics)"
                        style="background-color:rgb(249, 252, 209)">دوره بررسی آثار ماندگار موسیقی
                        <i class="em em-musical_note"></i>
                    </a>
                </p>
            </section>
        </div>
    </div>
</article>