<article class="indx-card no-image podcast-card">
    <div class="post-card-content">

        <div class="post-card-content-link">
            <span class="post-card-tags">
                {{ site.data.languages[page.lang]["noticeboard"]["title"] }}
            </span>
            <header class="post-card-header">
                <h2 class="post-card-title">{{ site.data.languages[page.lang]["noticeboard"]["placement"] }}</h2>
            </header>
            <section class="post-card-excerpt">
                <p>
                    {{ site.data.languages[page.lang]["noticeboard"]["nextp"] }}
                    <div style="background-color: khaki; text-align: center">

                        <time datetime="{{ site.data.homepage["placementdate"] | date:'%e %B %Y' }}">

                            {% if page.lang == "fa" %}
                                {{ site.data.homepage["placementdate"] | jdate: "%A %d %b %Y" }}
                            {%  else %}
                                {{ site.data.homepage["placementdate"] |  date: "%a %d %B %Y" }}

                            {% endif %}

                        </time>
                    </div>
                </p>
            </section>

            <header class="post-card-header">
                <h2 class="post-card-title">{{ site.data.languages[page.lang]["noticeboard"]["mock"] }}</h2>
            </header>
            <section class="post-card-excerpt">
                <p>
                    {{ site.data.languages[page.lang]["noticeboard"]["nextm"] }}
                    <div style="background-color: khaki; text-align: center">

                        <time datetime="{{ site.data.homepage["mockdate"]| date:'%e %B %Y' }}">

                            {% if page.lang == "fa" %}
                                {{  site.data.homepage["mockdate"] | jdate: "%A %d %b %Y" }}
                            {%  else %}
                                {{  site.data.homepage["mockdate"] |  date: "%a %d %B %Y" }}

                            {% endif %}

                        </time>
                    </div>
                </p>
            </section>
            <header class="post-card-header">
                <h2 class="post-card-title">{{ site.data.languages[page.lang]["noticeboard"]["careers"] }}</h2>
            </header>
            <section class="post-card-excerpt">
                <p>
                    <a href="/{{ page.lang }}/news/teachers">{{ site.data.languages[page.lang]["noticeboard"]["teacher"] }}</a>
                    <br>
                    <a href="/{{ page.lang }}/news/careers">{{ site.data.languages[page.lang]["noticeboard"]["personnel"] }}</a>
                </p>
            </section>
        </div>
    </div>

</article>