/* 3. Special Template Styles
/* ---------------------------------------------------------- */

@media (min-width: 900px) {
  .home-template .post-feed,
  .tag-template .post-feed,
  .author-template .post-feed {
    margin-top: 50px;
    padding-top: 0;
  }

  .home-template .site-nav {
    position: relative;
  }
}
